{% extends "default.njk" %}

{% block title %}Julian Rachele | About{% endblock %}

{% block content %}
<div class="mx-10 my-4 px-4">
  <h1 class="font-semibold text-3xl text-purple-900">About me</h1>
  <div class="flex flex-col md:flex-row items-center">
  <div>
  <p>I am a 22 year old graduate student from Greenville, South Carolina. I was born in Arizona though and lived there for 8 years, so is that where I'm actually "from"? Seems to be a bit ambiguous. I'm American, I guess. Like many scatterbrained children of the internet, I have a wide range of interests of varying utility.</p>
  <p>Food is basically everything. We are all spinning out of control on this spec of dust, so why not enjoy some tasty flavor combinations?</p>
  </div>
  <img src="img/self_portrait.png" class="w-48 md:w-auto h-auto md:h-32 lg:h-24 my-12 lg:my-4 ml-4 rounded-full">
  </div>
  <h1 class="font-semibold text-3xl text-purple-900 py-2">Interests</h1>
  <ul class="list-disc mx-4">
    <li>Cooking</li>
    <li>Video games</li>
    <li>Programming</li>
    <li>Design</li>
    <li>Mind-numbing reality TV</li>
    <li>Foreign languages? I am a serial dabbler. Get really obsessed and motivated to learn a language then come back down to Earth and lose motivation after a couple months. Decent at French though</li>
  </ul>
  <h1 class="font-semibold text-3xl text-purple-900 py-2">Projects</h1>
  {% for project in collections.projects %}
  <div class="shadow-md bg-gray-800 text-gray-200 mx-0 my-8 lg:mx-8 lg:my-8 p-6 rounded" x-data="{open: false}">
    <div class="flex items-center flex-col md:flex-row">
      <!-- Image -->
      <img class="w-20 md:w-auto h-auto md:h-20 m-4 mr-6" src="{{ project.data.image }}">
      <div class="description">
        <div class="flex flex-row items-center">
        <a href="{{ project.data.link }}"><h1 class="text-2xl font-semibold mr-4 text-gray-200">{{ project.data.title }}</h1></a>
        </div>
        <p>{{ project.data.description }}</p>
      </div>
      <!-- Button for opening card -->
      <div class="flex flex-grow"></div>
      <div class="">
        <div @click="open = !open;" class="flex items-center cursor-pointer px-3 py-2 text-gray-200 hover:text-gray-600" :class="{'transform rotate-180': open}">
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </div>
      </div>
    </div>
    <!-- Collapsed content -->
    <div class="w-full flex flex-col mt-8" :class="{'hidden': !open}">
      <hr class="mb-4 border-gray-700">
      {{ project.templateContent | safe }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}